.cslContainer {
  max-width: 1024px;
  max-height: 768px;
  margin-left: auto;
  margin-right: auto;
 
}

.clsInterface {
  width: 100%;
  position: relative;
}

.clsPlayer {
  width: 100%;
  position: relative;
  overflow:hidden;
}

.clsPagingLeft {
  /* position: absolute;
  margin-left: 3%;
  margin-top: 26%; */
  position: absolute;
  top: 47%;
  right: 45%;
  width: 100%;
  height: 100%;
}

.clsPagingRight {
  position: absolute;
  top: 47%;
  left: 45%;
  width: 100%;
  height: 100%;
}

.clsInfoButton {
  position: absolute;
  top: 4px;
  right: 4px;
}

.clsActive {
  display: block;
  width: 100%;
  position: relative;
  float: left;
}

.clsInactive {
  display: none;
}

.clsModalInfoBox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(106, 111, 182, 0.6);
}

.clsModalInfoBox .clsText {
  text-align: left;
  margin-top: 30px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 10px 2px 10px;
  background-color: white;
}

.clsModalInfoBox .clsText .clsHeadline {
  font-size: 16px;
  font-weight: bold;
}

.clsModalInfoBox .clsText .clsBody {
  font-size: 12px;
}
